body{
	height: 100vh;
}

#map {
	height: 400px;
	width: 100%;
}

.sidebar{
	background: rgb(61, 79, 93) ;
	color: #fff;
}

.pure-g{
	height: 100%;	
}

form{
	color: #000;
}

.l-box{
	padding: 1em;
}